<h1>welcome to Bookers !!</h1><br>
<body>
    in Bookers,<br>
    you can share and exchange your options, inpressions, and emotions<br>
    about various books!<br>
</body>

<%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>
<%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-dark' %>